Flask-Cors
cassandra-driver
scikit-learn
tensorboard
torchserve
torch-model-archiver
torch-workflow-archiver
onnx
onnxruntime
scipy
torch
pandas
dvc
notebook
numpy
matplotlib
seaborn
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML 
Flask
-e .